<html>
<head>
  <link rel="stylesheet" href="http://abhinavsv3.github.io/javascriptsal/alchemy.min.css"/>
</head>
<title>Root Node relations</title>
<style>
body {
    background-color: yellow;
}

h1 {
    background-color: #00ff00;
}

p {
    background-color: rgb(255,0,255);
}
</style>
<body bgcolor="#E6E6FA">
  <div class="alchemy" id="alchemy"></div>

  <script src="http://abhinavsv3.github.io/javascriptsal/alchemy.min1.js"></script>
  <script type="text/javascript">
     var config = {
        
        dataSource: "rjson.json",
        cluster: true, 
        clusterColours: ["#DD79FF", "#00FF30", "#5168FF", "#f83f00", "#ff8d8f","#FFFFFF"],
        forceLocked: false,
        nodeCaption: "title", 
        nodeMouseOver: 'title',
        directedEdges: false,zoomControls: true,controlOrientation:'horizontal',
        edgeCaption: "relatedness",
        nodeCaptionsOnByDefault: true,
         nodesToggle: true,
        nodeTypes: {"type":["root","edge","node"]},
        edgeFilters: true, showControlDash: true,
        nodeStyle: {
            "root": {
                "radius": function(d){ return d.getProperties().sizes *1},
            }

        }, 
        initialScale: 1, 
        initialTranslate: [250,150]
      }

        alchemy = new Alchemy(config)
    </script>
  </body>
</html>ext
